// Layout
$mobile: 375px;
$desktop: 1440px;

// Primary Colors

// Text
$darkDesaturatedBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);

// Gradient
$softViolet: hsl(273, 75%, 66%);
$softBlue: #7B64E8;

// Neutral Colors

// Text
$darkerGrayishBlue: hsl(237, 12%, 33%);
$darkGrayishBlue: hsl(240, 6%, 50%);

// Dividers
$lightGrayishBlue: hsl(240, 5%, 91%);

// Font
$kumbh: 'Kumbh Sans', sans-serif;